@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
       <img src="~/images/drone-gettyimages-959242024.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Anti Drones System</h2>
        <p>An open architecture of a UAV detection system including decision support for counter-action has been presented. 
        The main components of the intended system are one or multiple deployable sensor stations, an operation center 
        comprising the operational picture display and the decision support component, and a communication bus consisting of a message-oriented 
        middleware connecting the components and sub-components.</p>
    </div>
</div>